<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="#{app.title}">Gestion des personnes</title>
    <link rel="stylesheet" href="../static/css/style.css"
          th:href="@{/css/style.css}" />
</head>
<body>
<div th:replace="~{fragments/header :: menu}"></div>

<h1 th:text="#{home.welcome}">Bienvenue</h1>
<h2 th:text="${message}">Message d'accueil</h2>
<a th:href="@{/personList}" th:text="#{home.list}">Lister les personnes</a>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>